doctype html
html
  head 
    link(rel='stylesheet', href='/css/styles.css')
    title Weathertop
  body
    header
      h1 Weathertop
      nav
        a(href='/') Home
        .nav_divider
        a(href='/dashboard') Dashboard
    
    block content
